@import "reset";

html,
body {
  height: 100%;
}

::selection {
  background: #ffdd2d;
}
::-moz-selection {
  background: #ffdd2d;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
