.wrapper {
  display: flex;
  gap: 5px;
}
.radio {
  display: flex;
}
.input {
  width: 0;
  height: 0;
  opacity: 0;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: #f5f6f7;
  }
}
.active {
  background-color: #f5f6f7;
}

.hidden {
  display: none;
}
