.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.animate {
  opacity: 0;
  z-index: -1;
}
.action {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 11;
  color: rgba(0, 0, 0, 0.8);
}
.title {
  font-size: 64px;
  font-weight: 700;
}

.wrapper {
  height: 100%;
  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  gap: 10px;
}
.main {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffdd2d;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  font-size: 13px;
  &:hover {
    background-color: #fac641;
  }
}
.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #e9ecef;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  font-size: 13px;
  &:hover {
    background-color: #e5e8ed;
  }
}

.icons {
  width: 100%;
  position: relative;
  height: 102px;
  overflow: hidden;
}
.lobanoff {
  position: absolute;
  right: -200%;
  transform: translateX(50%);
  transition: all 1s ease-in-out 0.5s;
}
@media (max-width: 500px) {
  .lobanoff {
    height: 60px;
  }
  .tinkoff {
    height: 60px;
  }
  .icons {
    height: 60px;
  }
  .text {
    text-align: center;
  }
}
.tinkoff {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s ease-in-out 1.1s;
}
.animicons {
  .lobanoff {
    right: 50%;
  }
  .tinkoff {
    left: -200%;
  }
}

.text {
  width: 100%;
  position: relative;
}
.ltext,
.ttext {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ltext {
  opacity: 0;
  transition: all 1.5s ease-in-out 1s;
}
.ttext {
  opacity: 1;
  transition: all 1s ease-in-out 0.5s;
}

.anitext {
  .ltext {
    opacity: 1;
  }
  .ttext {
    opacity: 0;
  }
}
