.wrapper {
  font-weight: 600;
  color: #787878;
  //color: #3f82f2;
}
.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-weight: 400;
  background-color: #3f82f2;
  border-radius: 50%;
  color: white;
}
